{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "ConnectionStrings": {
    "Default": "Host=localhost;Database=MyZone;Username=user;Password=psww"
  }
}