<!--The whole content below can be removed with the new code.-->
<nav class="navbar navbar-default">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#">个人网站</a>
  </div>
</nav>

<div class="row">
  <div class="col-md-2">
    <div class="panel  panel-info">
      <div class="panel-heading">小说列表</div>

      <table class="table text-center">
        <tr>
          <td>修真聊天群</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-10">
    <div class="panel panel-primary">
      <tabset>
        <tab heading='爬取 Urls'>
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Url</th>
                <th>是否官网</th>
                <th>上次爬取时间</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>http://book.qidian.com/info/3602691</td>
                <td>是</td>
                <td>2017/6/18</td>
              </tr>
              <tr>
                <td>http://book.qidian.com/info/3602691</td>
                <td>是</td>
                <td>2017/6/18</td>
              </tr>
              <tr>
                <td>http://book.qidian.com/info/3602691</td>
                <td>是</td>
                <td>2017/6/18</td>
              </tr>
              <tr>
                <td>http://book.qidian.com/info/3602691</td>
                <td>是</td>
                <td>2017/6/18</td>
              </tr>
            </tbody>
          </table>
        </tab>
        <tab heading='目录信息'>
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>章节</th>
                <th>字数</th>
                <th>Vip</th>
                <th>发布时间</th>
                <th>已收录</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>http://book.qidian.com/info/3602691</td>
                <td>是</td>
                <td>2017/6/18</td>
                <td>2017/6/18</td>
                <td>2017/6/18</td>
              </tr>
              <tr>
                <td>http://book.qidian.com/info/3602691</td>
                <td>是</td>
                <td>2017/6/18</td>
              </tr>
              <tr>
                <td>http://book.qidian.com/info/3602691</td>
                <td>是</td>
                <td>2017/6/18</td>
              </tr>
              <tr>
                <td>http://book.qidian.com/info/3602691</td>
                <td>是</td>
                <td>2017/6/18</td>
              </tr>
            </tbody>
          </table>
        </tab>
      </tabset>
    </div>
  </div>
</div>